<header class="site-header">
  <div class="wrap header-inner">
    <div class="brand">
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
    </div>
    <nav class="site-nav">
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="http://www.columbia.edu/itc/mealac/pritchett/00litlinks/naim/" target="_blank">Publication</a>
      <a href="{{ '/biography-cv' | relative_url }}">Biography & CV</a>
      <a href="{{ '/contact-me' | relative_url }}">Contact Me</a>
    </nav>
  </div>
</header>